.form-section {
  padding: 2rem;
}

.cards {
  margin-top: 2rem;
}

.cardHolder {
  /* background:  */
}

.title {
  background-color: #e9ecef;
}
.title2 {
  background-color: #e9ecef;
  padding: 1rem;
}
