.nav-section {
  background-color: #e9ecef;
  height: 35vh;
  min-height: 14rem;
  border: 1px solid black;
}

.nav-link {
  font-style: italic;
  padding-top: 1.5rem;
  font-size: 2rem;
}

a {
  font-size: 1.5rem;
}
.hp-a {
  font-size: 1rem;
}

.martop {
  margin-bottom: 9rem;
}

a:hover {
  text-decoration: none;
}

h2 {
  padding: 2rem;
}

.pretty {
}
